<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smtmvc.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.smtmvc.model.Goods">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="count" jdbcType="BIGINT" property="count" />
    <result column="uuid" jdbcType="CHAR" property="uuid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, count, uuid
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="queryByUUID" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where uuid = #{uuid}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.smtmvc.model.Goods">
    insert into goods ( count, uuid)
    values ( #{count,jdbcType=BIGINT}, #{uuid,jdbcType=CHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.smtmvc.model.Goods">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="count != null">
        #{count,jdbcType=BIGINT},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smtmvc.model.Goods">
    update goods
    <set>
      <if test="count != null">
        count = #{count,jdbcType=BIGINT},
      </if>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smtmvc.model.Goods">
    update goods
    set count = #{count,jdbcType=BIGINT},
      uuid = #{uuid,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>