<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smtmvc.messageService.dao.MessageMapper">
	<resultMap id="BaseResultMap" type="com.smtmvc.messageService.model.Message">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="dr" jdbcType="CHAR" property="dr" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="destination" jdbcType="VARCHAR" property="destination" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="status" jdbcType="CHAR" property="status" />
		<result column="send_time" jdbcType="INTEGER" property="sendTime" />
		<result column="confirm_time" jdbcType="INTEGER" property="confirmTime" />
		<result column="confirm_url" jdbcType="VARCHAR" property="confirmUrl" />
		<result column="uuid" jdbcType="CHAR" property="uuid" />
	</resultMap>

	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.smtmvc.messageService.model.Message">
		<result column="content" jdbcType="LONGVARCHAR" property="content" />
	</resultMap>

	<sql id="Base_Column_List">
		id, dr, create_date, update_date, destination, type,
		status, send_time,
		confirm_time,
		confirm_url, uuid
	</sql>

	<sql id="Blob_Column_List">
		content
	</sql>

	<!-- 主键查询 -->
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from message
		where id = #{id,jdbcType=BIGINT}
	</select>

	<!-- UUID查询 -->
	<select id="selectByUUID" parameterType="java.lang.String"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from message
		where uuid = #{uuid}
	</select>

	<!-- 改变状态 -->
	<update id="changeStatus">
		update message
		<set>
			<if test="status != null">
				status = #{status,jdbcType=CHAR}
			</if>
		</set>
		where uuid = #{uuid}
		and status != #{status,jdbcType=CHAR}
	</update>

	<!-- 通过UUID删除 -->
	<delete id="deleteByUUID" parameterType="java.lang.String">
		delete from message
		where uuid = #{uuid}
	</delete>

	<!-- 查询指定状态的消息 -->
	<select id="queryByStatus" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from message
		where status = #{status}
	</select>
	

	<!-- 询问一次,数据更新 -->
	<update id="addConfirmTime">
		update message
			set
				confirm_time = confirm_time + 1
		where uuid = #{uuid}
	</update>
	
	<!-- 询问一次,数据更新 -->
	<update id="addSendTime">
		update message
			set
				send_time = send_time + 1
		where uuid = #{uuid}
	</update>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		message
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<!-- insert -->
	<insert id="insert" parameterType="com.smtmvc.messageService.model.Message">
		insert into message (
		create_date,
		destination, type,
		status, send_time, confirm_time,
		confirm_url, uuid, content
		)
		values ( now() ,
		#{destination,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
		#{status,jdbcType=CHAR}, #{sendTime,jdbcType=INTEGER},
		#{confirmTime,jdbcType=INTEGER},
		#{confirmUrl,jdbcType=VARCHAR},
		#{uuid,jdbcType=CHAR},
		#{content,jdbcType=LONGVARCHAR}
		)
	</insert>

	<insert id="insertSelective" parameterType="com.smtmvc.messageService.model.Message">
		insert into message
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="dr != null">
				dr,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
			<if test="destination != null">
				destination,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="sendTime != null">
				send_time,
			</if>
			<if test="confirmTime != null">
				confirm_time,
			</if>
			<if test="confirmUrl != null">
				confirm_url,
			</if>
			<if test="uuid != null">
				uuid,
			</if>
			<if test="content != null">
				content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="dr != null">
				#{dr,jdbcType=CHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="destination != null">
				#{destination,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=CHAR},
			</if>
			<if test="sendTime != null">
				#{sendTime,jdbcType=INTEGER},
			</if>
			<if test="confirmTime != null">
				#{confirmTime,jdbcType=INTEGER},
			</if>
			<if test="confirmUrl != null">
				#{confirmUrl,jdbcType=VARCHAR},
			</if>
			<if test="uuid != null">
				#{uuid,jdbcType=CHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.smtmvc.messageService.model.Message">
		update message
		<set>
			<if test="dr != null">
				dr = #{dr,jdbcType=CHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="destination != null">
				destination = #{destination,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=CHAR},
			</if>
			<if test="sendTime != null">
				send_time = #{sendTime,jdbcType=INTEGER},
			</if>
			<if test="confirmTime != null">
				confirm_time = #{confirmTime,jdbcType=INTEGER},
			</if>
			<if test="confirmUrl != null">
				confirm_url = #{confirmUrl,jdbcType=VARCHAR},
			</if>
			<if test="uuid != null">
				uuid = #{uuid,jdbcType=CHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.smtmvc.messageService.model.Message">
		update
		message
		set dr = #{dr,jdbcType=CHAR},
		create_date =
		#{createDate,jdbcType=TIMESTAMP},
		update_date =
		#{updateDate,jdbcType=TIMESTAMP},
		destination =
		#{destination,jdbcType=VARCHAR},
		type = #{type,jdbcType=VARCHAR},
		status = #{status,jdbcType=CHAR},
		send_time =
		#{sendTime,jdbcType=INTEGER},
		confirm_time =
		#{confirmTime,jdbcType=INTEGER},
		confirm_url =
		#{confirmUrl,jdbcType=VARCHAR},
		uuid = #{uuid,jdbcType=CHAR},
		content =
		#{content,jdbcType=LONGVARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.smtmvc.messageService.model.Message">
		update message
		set
		dr = #{dr,jdbcType=CHAR},
		create_date =
		#{createDate,jdbcType=TIMESTAMP},
		update_date =
		#{updateDate,jdbcType=TIMESTAMP},
		destination =
		#{destination,jdbcType=VARCHAR},
		type = #{type,jdbcType=VARCHAR},
		status = #{status,jdbcType=CHAR},
		send_time =
		#{sendTime,jdbcType=INTEGER},
		confirm_time =
		#{confirmTime,jdbcType=INTEGER},
		confirm_url =
		#{confirmUrl,jdbcType=VARCHAR},
		uuid = #{uuid,jdbcType=CHAR}
		where id =
		#{id,jdbcType=BIGINT}
	</update>
</mapper>